<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form class="form-horizontal" th:object="${part}" th:action="@{/update}" name="edit_form" id="edit_form"
              method="post" role="form">
            <div class="form-group">
                <input type="hidden" id="id" th:name="id" th:value="*{partId}"/>
            </div>
            <div class="form-group">
                <label>
                    <h5>Наименование</h5>
                    <input type="text" class="form-control" id="message" th:name="partName" th:value="*{partName}" maxlength="50"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <h5>Необходимость</h5>
                    <input type="text" class="form-control" id="isNecessary" th:name="isNecessary" th:value="*{isNecessary()} ? Да : Нет" maxlength="50"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <h5>Количество</h5>
                    <input type="text" class="form-control" id="amount" th:name="amount" th:value="*{amount}" maxlength="50"/>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>